nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
/SteamProjeto/nbproject/private/
/SteamProjeto/SteamProjeto-ejb/nbproject/private/
/SteamProjeto/SteamProjeto-war/nbproject/private/
/SteamProj/nbproject/private/
/SteamProj/SteamProj-war/nbproject/private/
/SteamProj/SteamProj-ejb/nbproject/private/
/SteamyServer/nbproject/private/
/SteamServer/nbproject/private/
/SteamyClient/nbproject/private/
/SteamyClient/SteamyClient-war/nbproject/private/
/SteamyClient/SteamyClient-ejb/nbproject/private/
/OldShit/SteamProj/SteamProj-ejb/nbproject/private/
/OldShit/SteamProj/nbproject/private/
/OldShit/SteamProjeto/SteamProjeto-ejb/nbproject/private/
/OldShit/SteamProjeto/SteamProjeto-war/nbproject/private/
/OldShit/SteamProjeto/nbproject/private/
/OldShit/SteamyServer/nbproject/private/